// No media query since the xxl breakpoint has no upper bound on its width
// X-Large devices (large desktops, less than 1400px
// @media (max-width: 1399.98px) {
//     .outer {}
// }
// Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) {
//     .outer {}
// }
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .outer {
    gap: 4.8rem;

    .inner {
      form {
        gap: 1.6rem;
        width: 100% !important;
      }
      .wrapper {
        right: var(--pad-in-l);
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .outer {
    gap: 4rem;

    .wrapper {
      right: var(--pad-in-l);
      width: 3.2rem;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  section {
    .outer {
      gap: 3.2rem;

      .inner {
        form {
        }
      }

      .wrapper {
        right: var(--pad-in-l);
        width: 2.4rem;
      }
    }
  }
}

@media (max-width: 375.98px) {
  section {
    .outer {
      gap: 3.2rem;

      .inner {
        form {
          align-items: flex-start;
        }
      }

      .wrapper {
        right: var(--pad-in-l);
        width: 2.4rem;
      }
    }
  }
}
