@use "sass:math";
$slope-incline: math.asin(0.1); //0.1 = 10%

section {
  height: 10vw;
  background-image: linear-gradient(
    $slope-incline,
    var(--color-black) 49.5%,
    transparent 50.5%
  );
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: 100vw 10vw;
}
