<section id="aboutMe">
  <div class="wrapper-text">
    <article>
      <h2 translate>About me</h2>
      <p translate>
        I am a Front-end deverloper based in Stuttgart, Germany. I help
        designers and companies to bring their ideas to real life. Creativity
        and logical thinking are skills that I have developed to connect ideas
        into quality products.
      </p>
      <p translate>
        If you think I’d be a good match for your projects, contact me!
      </p>
    </article>
    <button translate (click)="navService.forceNavigate('contact')">
      Let's talk
    </button>
  </div>
  <div class="wrapper-img">
    <div class="frame"></div>
    <img src="../../../assets/images/Memoji/3.jpg" alt="foto" />
  </div>
</section>
