section {
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 30rem;
    gap: 6.4rem;
    padding-block: 6.4rem;
    padding-inline: var(--pad-in-l);

    .wrapper-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;

        article {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;

            h2 {
                font-family: var(--main-font-family);
                font-weight: 800;
                font-size: var(--font-size-h2);
                transition: all 125ms ease;

                &:hover {
                    color: var(--color-green);
                }
            }

            p {
                font-family: var(--sec-font-family);
                font-size: var(--font-size-p);
            }
        }

        button {
            font-family: var(--sec-font-family);
            font-size: var(--font-size-p);
            border: 0.4rem solid var(--color-black);
            background-color: var(--color-white);
            color: var(--color-black);
            padding: 2rem 6rem;
            cursor: pointer;
            transition: all 125ms ease;

            &:hover {
                border: 0.4rem solid var(--color-black);
                background-color: var(--color-black);
                color: var(--color-white);
            }

            &:active {
                color: var(--color-green);
            }
        }
    }

    .wrapper-img {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        .frame {
            position: absolute;
            width: 100%;
            aspect-ratio: 3/4;
            z-index: 1;
            border: 0.4rem solid var(--color-black);
            opacity: 0;
            transition: all 125ms ease;

            &:hover {
                opacity: 1;
                transform: translate(-1.6rem, 1.6rem);
            }
        }

        img {
            // object-fit: cover;
            // object-position: 50% 50%;
            position: relative;
            width: 100%;
            aspect-ratio: 3/4;
        }
    }
}