section {
    padding-inline: 32px;
    background-color: var(--color-white);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 48px;
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        h2 {
            font-family: var(--font-size-h2);
            font-weight: 800;
            font-size: var(--font-size-h2);
            transition: all 125ms ease-in-out;
            &:hover {
                color: var(--color-green);
            }
        }
        p {
            font-family: var(--sec-font-family);
            font-size: var(--font-size-p);
        }
    }
}