<section>
  <div class="wrapper-img">
    <div class="frame">
      <div class="circal">
        <img src="../../../../assets/images/arrows/arrow7.png" alt="arrow" />
      </div>
      <div class="content">
        <h3>{{ project.title }}</h3>
        <div class="tech">
          <ng-container
            *ngFor="let language of project.languages; let i = index"
          >
            <span>{{ language }}</span>
            <span *ngIf="i !== project.languages.length - 1"> | </span>
          </ng-container>
        </div>
        <div class="discription">
          {{ project.description }}
        </div>
        <div class="links">
          <a
            href="{{ project.github }}"
            target="_blank"
            title="open repositorie"
            >Github</a
          >
          <a
            translate
            href="{{ project.url }}"
            target="_blank"
            title="open {{ project.title }}"
            >Open</a
          >
        </div>
      </div>
    </div>
    <!-- <img src="../../../../assets/images/projects/pokedex.png" alt="pokedex"> -->
    <img src="{{ project.imagePath }}" alt="{{ project.title }}" />
  </div>
  <div class="wrapper-info">
    <span>{{ index | fillup : 2 }}/{{ projects.length | fillup : 2 }}</span>
  </div>
</section>
