// No media query since the xxl breakpoint has no upper bound on its width
// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    section {
        // background-color: aqua;
        .wrapper-img {
            .frame {
                .circal {
                    height: 40px;
                    width: 40px;
                }
                .content {
                    padding-left: 30px;
                    .links {
                        gap: 16px;
                        a {
                            padding: 16px 40px;
                        }
                    }
                }
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    section {
        // background-color: rgb(0, 255, 21);
        .wrapper-img {
            .frame {
                .circal {
                    height: 40px;
                    width: 40px;
                }
                .content {
                    padding-left: 30px;
                    .links {
                        gap: 8px;
                        a {
                            padding: 8px 24px;
                        }
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) {
//     section {
//         background-color: rgb(160, 95, 149);
//     }
// }
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    section {
        // background-color: coral;
        display: grid;
        grid-template-columns: 1fr;
        .wrapper-img {
            .frame {
                width: 100%;
                .circal {
                    padding: 4px;
                    position: absolute;
                    z-index: 3;
                    top: 100%;
                    right: 50%;
                    transform: translate(50%, calc( -50% + 4px)) rotate(0deg);
                }
                &:hover {
                    opacity: 1;
                    transform: translate(16px, 16px);
                    .circal {
                        animation-name: rotateArrowTop;
                        animation-duration: 0.5s;
                        animation-timing-function: linear;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                    }
                    .content {
                        animation: fadeInBoxTop;
                        animation-duration: 0.5s;
                        animation-timing-function: ease-out;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                    }
                }
                .content {
                    position: absolute;
                    padding-top: 50px;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    padding-inline: 0;
                    .links {
                        gap: 16px;
                    }
                }
            }
            img {
                width: 100%;
            }
        }
        .wrapper-info {
            padding-top: 16px;
            height: 300px;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {
//     section {
//         background-color: cornflowerblue;
//     }
// }