@keyframes rotateArrowLeft {
  0% {
    opacity: 0;
    transform: translate(calc(50% + 4px), -50%) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: translate(calc(50% + 4px), -50%) rotate(-270deg);
  }
}

@keyframes rotateArrowTop {
  0% {
    transform: translate(50%, calc(-50% + 4px)) rotate(0deg);
  }
  100% {
    transform: translate(50%, calc(-50% + 4px)) rotate(-180deg);
  }
}

@keyframes fadeInBoxLeft {
  0% {
    opacity: 0;
    transform: translate(-100%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInBoxTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(10%);
  }
}
