// No media query since the xxl breakpoint has no upper bound on its width
// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  section {
    // background-color: aqua;
    .wrapper-img {
      .frame {
        .circal {
          height: 4rem;
          width: 4rem;
        }

        .content {
          padding-left: 3rem;

          .links {
            gap: 1.6rem;

            a {
              padding: 1.6rem 4rem;
            }
          }
        }
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  section {
    // background-color: rgb(0, 255, 21);
    .wrapper-img {
      .frame {
        .circal {
          height: 4rem;
          width: 4rem;
        }

        .content {
          padding-left: 3rem;

          .links {
            gap: 0.8rem;

            a {
              padding: 0.8rem 2.4rem;
            }
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  section {
    // background-color: coral;
    display: grid;
    grid-template-columns: 1fr;

    &:hover {
      .wrapper-info .content {
        animation: fadeInBoxTop;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }

    .wrapper-img {
      .frame {
        width: 100%;

        .circal {
          position: absolute;
          z-index: 3;
          top: 100%;
          right: 50%;
          transform: translate(50%, calc(-50% + 4px)) rotate(0deg);
        }

        &:hover {
          opacity: 1;
          transform: translate(1.6rem, 1.6rem);

          .circal {
            animation-name: rotateArrowTop;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
          }
        }
      }

      img {
        width: 100%;
      }
    }

    .wrapper-info {
      padding-top: 1.6rem;
      height: 30rem;
      .content {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        padding-inline: 0;

        .links {
          gap: 1.6rem;
        }
      }
    }
  }
}
