// No media query since the xxl breakpoint has no upper bound on its width
// X-Large devices (large desktops, less than 1400px)
// @media (max-width: 1399.98px) {
//     section {}
// }
// Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) {
//     section {}
// }
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    section {
        .headline {
            top: 20px;
            left: 50%;
            h2 {
                width: 400px;
                font-size: 40px;
            }
        }
        .wrapper {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    section {
        .headline {
            top: 20px;
            left: 50%;
            h2 {
                width: 300px;
                font-size: 40px;
            }
        }
        .wrapper {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: "html css js git" "ts ng material firebase" ". api scrum .";
            gap: 24px;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    section {
        .wrapper {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: "html css" "js api" "git ts" "ng material" "firebase scrum";
            gap: 16px;
        }
    }
}