<section id="mySkills">
    <div class="headline">
        <h2>My skills</h2>
    </div>
    <div class="wrapper">
        <div class="cell html">
            <img src="../../../assets/images/canIuse/html5.png" alt="HTML">
            <span>HTML</span>
        </div>
        <div class="cell css">
            <img src="../../../assets/images/canIuse/css3.png" alt="CSS">
            <span>CSS</span>
        </div>
        <div class="cell js">
            <img src="../../../assets/images/canIuse/js.png" alt="JavaScript">
            <span>JavaScript</span>
        </div>
        <div class="cell git">
            <img src="../../../assets/images/canIuse/git.png" alt="Git">
            <span>Git</span>
        </div>
        <div class="cell api">
            <img src="../../../assets/images/canIuse/rest-api.png" alt="Rest-Api">
            <span>Rest-Api</span>
        </div>
        <div class="cell ts">
            <img src="../../../assets/images/canIuse/ts.png" alt="TypeScript">
            <span>TypeScript</span>
        </div>
        <div class="cell ng">
            <img src="../../../assets/images/canIuse/angular.png" alt="Angular">
            <span>Angular</span>
        </div>
        <div class="cell material">
            <img src="../../../assets/images/canIuse/material-design.png" alt="MaterialDesign">
            <span>Material Design</span>
        </div>
        <div class="cell firebase">
            <img src="../../../assets/images/canIuse/firebase.png" alt="Firebase">
            <span>Firebase</span>
        </div>
        <div class="cell scrum">
            <img src="../../../assets/images/canIuse/scrum.png" alt="Scrum">
            <span>Scrum</span>
        </div>
    </div>
</section>