<section>
    <div class="headline">
        <h2>My skills</h2>
    </div>
    <div class="wrapper">
        <div class="cell">
            <img src="../../../assets/images/angular.png" alt="Angular">
            <span>Angular</span>
        </div>
        <div class="cell">
            <img src="../../../assets/images/typescript.png" alt="TypeScript">
            <span>TypeScript</span>
        </div>
        <div class="cell">
            <img src="../../../assets/images/javaScript.png" alt="JavaScript">
            <span>JavaScript</span>
        </div>
        <div class="cell">
            <img src="../../../assets/images/html.png" alt="HTML">
            <span>HTML</span>
        </div>
        <div class="cell">
            <img src="../../../assets/images/css.png" alt="CSS">
            <span>CSS</span>
        </div>
        <div class="cell">
            <img src="../../../assets/images/firebase.png" alt="Firebase">
            <span>Firebase</span>
        </div>
        <div class="cell">
            <img src="../../../assets/images/git.png" alt="Git">
            <span>Git</span>
        </div>
        <div class="cell">
            <img src="../../../assets/images/scrum.png" alt="Scrum">
            <span>Scrum</span>
        </div>
        <div class="cell">
            <img src="../../../assets/images/api.png" alt="Rest-Api">
            <span>Rest-Api</span>
        </div>
        <div class="cell">
            <img src="../../../assets/images/material.png" alt="MaterialDesign">
            <span>Material Design</span>
        </div>

    </div>

</section>