section {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding-top: 64px;
    padding-inline: 32px;
    padding-bottom: 32px;
    h2 {
        padding-inline: 16px;
        background-color: var(--color-white);
        position: absolute;
        z-index: 2;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: var(--main-font-family);
        font-weight: 800;
        font-size: var(--font-size-h2);
        transition: all 125ms ease-in-out;
        &:hover {
            color: var(--color-green);
        }
    }
    .wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "html css js git api" " ts ng material firebase scrum";
        gap: 32px;
        width: 100%;
        border: 2px solid black;
        padding-top: 64px;
        padding-inline: 32px;
        padding-bottom: 32px;
        .html {
            grid-area: html;
        }
        .css {
            grid-area: css;
        }
        .ng {
            grid-area: ng
        }
        .git {
            grid-area: git;
        }
        .js {
            grid-area: js;
        }
        .scrum {
            grid-area: scrum;
        }
        .api {
            grid-area: api;
        }
        .material {
            grid-area: material;
        }
        .firebase {
            grid-area: firebase;
        }
        .ts {
            grid-area: ts;
        }
        .cell {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: var(--color-black);
            font-family: var(--sec-font-family);
            font-weight: 700;
            font-size: var(--font-size-tf);
            transition: all 125ms ease-in-out;
            overflow: hidden;
            mix-blend-mode: luminosity;
            img {
                height: 48px;
                width: 48px;
            }
            &:hover {
                color: var(--color-green);
                mix-blend-mode: normal;
                img {
                    animation-name: moveImage;
                    animation-duration: 0.5s;
                    animation-timing-function: linear;
                    // animation-delay: unset;
                    animation-fill-mode: both;
                    animation-iteration-count: 1;
                    animation-play-state: running;
                }
            }
        }
    }
}