footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding-inline: var(--pad-in-l);
  padding-top: 0.8rem;
  padding-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  .links {
    width: clamp(6rem, 50vw, 20rem);
    display: flex;
    justify-content: space-between;
  }

  .top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      border-radius: 0.6rem;
      height: 4rem;

      img {
        border-radius: 0.6rem;
      }
    }

    a:hover {
      opacity: 0.8;
      transform: translateY(-0.2rem);
    }
  }

  .bot-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--sec-font-family);
    font-size: var(--font-size-small);

    a {
      text-decoration: none;
      color: var(--color-white);
      border-bottom: var(--color-black) 0.2rem solid;
    }

    a:hover {
      color: var(--color-green);
      border-bottom: var(--color-green) 0.2rem solid;
    }
  }
}
