footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding-inline: var(--pad-in-l);
  padding-top: 0.8rem;
  padding-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  .links {
    width: clamp(6rem, 50vw, 22rem);
    display: flex;
    gap: 8px;
    justify-content: space-between;
    white-space: nowrap;
  }
  .top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      display: flex;
      border-radius: 0.6rem;
      height: 4rem;
      width: 4rem;
      .social-img {
        height: 4rem;
        width: 4rem;
        border-radius: 0.6rem;
      }
      img {
        height: 4rem;
      }
    }
    a:hover {
      opacity: 0.8;
      transform: translateY(-0.2rem);
    }
  }
  .bot-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--sec-font-family);
    font-size: var(--font-size-small);
    margin-top: 1rem;
    a {
      text-decoration: none;
      color: var(--color-white);
      border-bottom: var(--color-black) 0.2rem solid;
    }
    a:hover {
      color: var(--color-green);
      border-bottom: var(--color-green) 0.2rem solid;
    }
  }
}
