footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding-inline: 32px;
    padding-block: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .links {
        width: clamp(60px, 50vw, 200px);
        display: flex;
        justify-content: space-between;
    }
    .top-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            display: flex;
            border-radius: 6px;
            height: 40px;
        }
        a:hover {
            opacity: 0.8;
            transform: translateY(-2px);
        }
    }
    .bot-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 16px;
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(12px, 1.5vw, 16px);
        line-height: 120%;
        a {
            text-decoration: none;
            color: var(--color-white);
            border-bottom: var(--color-black) 2px solid;
        }
        a:hover {
            color: var(--color-green);
            border-bottom: var(--color-green) 2px solid;
        }
    }
}

.subtitles {
    font-family: var(--sub-font-family);
    font-style: var(--sub-font-style);
    font-weight: var(--sub-font-weight);
    line-height: var(--sub-line-height);
    font-size: clamp(12px, 1.5vw, 16px);
}