<footer class="subtitles">
    <div class="top-wrapper">
        <a href="#"><img src="../../../assets/images/logo_white.png" alt="myLogo"></a>
        <div class="links">
            <a href="https://github.com/GeorgStrassberger" target="_blank"><img src="../../../assets/images/github-8-48.png" alt="GitHub"></a>
            <a href="#"><img src="../../../assets/images/message-outline-48.png" alt="Mail"></a>
            <a href="https://de.linkedin.com/in/georg-stra%C3%9Fberger-85b563196" target="_blank"><img src="../../../assets/images/linkedin-3-48.ico" alt="LinkedIn"></a>
        </div>
    </div>
    <div class="bot-wrapper">
        <div>&copy; Georg Straßberger 2023</div>
        <div class="links">
            <a href="#">Impressum</a>
            <a href="#">Datenschutz</a>
        </div>
    </div>
</footer>