<section id="header">
  <div id="top" class="top-wrapper">
    <!-- Alles von oben -->
    <div class="box">
      <a
        translate
        routerLink="/#home"
        (click)="navService.forceNavigate('home')"
        >Home</a
      >
    </div>
    <div class="box">
      <a
        translate
        routerLink="/#aboutMe"
        (click)="navService.forceNavigate('aboutMe')"
        >About me</a
      >
    </div>
    <div class="box">
      <a
        translate
        routerLink="/#mySkills"
        (click)="navService.forceNavigate('mySkills')"
        >My Skills</a
      >
    </div>
    <div class="box">
      <a
        translate
        routerLink="/#portfolio"
        (click)="navService.forceNavigate('portfolio')"
        >Portfolio</a
      >
    </div>
    <div class="box">
      <a
        translate
        routerLink="/#contact"
        (click)="navService.forceNavigate('contact')"
        >Contact</a
      >
    </div>
  </div>

  <div class="nav-wrapper">
    <!-- LOGO -->
    <img
      class="nav__logo"
      (click)="navService.forceNavigate('home')"
      src="../../../assets/images/icons/gs-logo.png"
      alt="myLogo"
      title="HOME"
    />
    <!-- LINKS -->
    <div class="navAnker">
      <a
        translate
        routerLink="/#aboutMe"
        (click)="navService.forceNavigate('aboutMe')"
        title="ABOUT ME"
        >About me</a
      >
      <a
        translate
        routerLink="/#mySkills"
        (click)="navService.forceNavigate('mySkills')"
        title="SKILLS"
        >My Skills</a
      >
      <a
        translate
        routerLink="/#portfolio"
        (click)="navService.forceNavigate('portfolio')"
        title="PORTFOLIO"
        >Portfolio</a
      >
      <a
        translate
        routerLink="/#contact"
        (click)="navService.forceNavigate('contact')"
        title="CONTACT"
        >Contact</a
      >
    </div>
    <div class="menu">
      <!-- COLORPICKER -->
      <input
        class="menu__color"
        type="color"
        name="color"
        id="color"
        value="#00BC8F"
        (change)="getColor()"
        title="ColorPicker"
      />
      <!-- TRANSLATE -->
      <div class="menu__tanslate">
        <a (click)="translate.use('en')" class="menu__tanslate__btn">EN</a>|
        <a (click)="translate.use('de')" class="menu__tanslate__btn">DE</a>
      </div>
      <!-- BURGERMENU -->
      <img
        class="menu__btn"
        id="menu_btn"
        (click)="toggleMenuBtn()"
        src="{{ this.navService.MENU_IMAGES[0] }}"
        alt="menu"
        title="MENU"
      />
    </div>
  </div>

  <div id="bot" class="bottem-wrapper">
    <!-- Alles von unten -->
    <div class="triangle"></div>
    <app-footer></app-footer>
  </div>
</section>
