section {
  position: relative;
  height: var(--header-height);
  width: 100dvw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 125ms ease-in-out;
  .top-wrapper {
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    height: calc(100dvh - var(--footer-height));
    width: 100%;
    animation-name: topFadeUp;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    .box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50rem;
      height: 8rem;
      background: var(--color-white);
      overflow: hidden;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 60%;
        right: 47rem;
        width: 50rem;
        height: 5rem;
        background-color: var(--color-black);
        animation: borderFadeLeft 0.4s linear 1;
        animation-fill-mode: forwards;
      }
      &:hover::before {
        animation: borderFadeRight 0.4s linear 1;
        animation-fill-mode: forwards;
      }
      &::after {
        content: "";
        position: absolute;
        inset: 0.4rem;
        background: var(--color-white);
      }
      a {
        text-decoration: none;
        position: relative;
        color: var(--color-black);
        font-family: var(--main-font-family);
        font-weight: 700;
        font-size: var(--font-size-h2);
        z-index: 2;
        transition: all 225ms ease-in-out;
      }
      &:hover a {
        color: var(--color-green);
      }
    }
  }
  // Nav Bar
  .nav-wrapper {
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--pad-in-l);
    height: var(--header-height);
    width: 100%;
    .nav__logo {
      height: 3.5rem;
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
    }
    .navAnker {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 3rem;
      a {
        font-family: var(--sec-font-family);
        font-size: var(--font-size-h3);
        color: var(--color-black);
        text-decoration: none;
        &:hover {
          color: var(--color-green);
        }
      }
    }
    .menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3rem;
      .menu__color {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        overflow: hidden;
        cursor: crosshair;
      }
      .menu__color::-webkit-color-swatch {
        border: none;
        border-radius: 50%;
        padding: 0;
      }
      .menu__color::-webkit-color-swatch-wrapper {
        border: none;
        border-radius: 50%;
        padding: 0;
      }
      .menu__tanslate {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        color: var(--color-black);
        font-size: var(--font-size-h3);
        font-family: var(--sec-font-family);
        .menu__tanslate__btn {
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: var(--color-green);
          }
        }
      }
      .menu__btn {
        height: 3.5rem;
        width: 3.5rem;
        cursor: pointer;
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
  // from Bot
  .bottem-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--color-white);
    transform: translateY(100%);
    animation-name: botFadeDown;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
}

.collapsible {
  height: 100dvh !important;
}

.animateContent {
  animation-name: topFadeDown !important;
  animation-duration: 0.8s !important;
  animation-timing-function: ease-in-out !important;
  animation-iteration-count: 1 !important;
  animation-direction: normal !important;
  animation-fill-mode: forwards !important;
}

.animateFooter {
  animation-name: botFadeUp !important;
  animation-duration: 0.8s !important;
  animation-timing-function: ease-in-out !important;
  animation-iteration-count: 1 !important;
  animation-direction: normal !important;
  animation-fill-mode: forwards !important;
}
