// No media query since the xxl breakpoint has no upper bound on its width
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    section {
        gap: 32px;
        grid-template-columns: 1fr 200px;
        .wrapper-text {
            button {
                padding: 16px 48px;
            }
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    section {
        grid-template-columns: 1fr;
        .wrapper-text {
            article {
                gap: 16px;
            }
            button {
                display: none;
            }
        }
        .wrapper-img {
            justify-content: center;
            position: relative;
            .frame {
                max-width: 200px;
            }
            img {
                max-width: 200px;
            }
        }
    }
}