@media (max-width: 575.98px) {
  section {
    .headline {
      .subline {
        .name {
          padding-left: 0.8rem;
        }
      }
    }
  }
}

@media (hover: hover) {
  section {
    contact-btn {
      display: none;
    }
  }
}

@media (hover: none) {
  section {
    contact-btn {
      margin-top: 6rem;
    }
  }
}

@media (orientation: landscape) {
  section {
    contact-btn {
      margin-top: 1rem;
    }
  }
}
