<app-header></app-header>

<!-- <app-landing *ngIf="isDisplayed"></app-landing> -->
<router-outlet>
    <!-- <div class="content"> -->
    <!-- <app-home></app-home>
    <app-about-me></app-about-me>
    <app-arrow-down-left></app-arrow-down-left>
    <app-skills></app-skills>
    <app-arrow-down-right></app-arrow-down-right>
    <app-projects></app-projects>
    <app-arrow-down-left></app-arrow-down-left>
    <app-contact></app-contact> -->
    <!-- <app-footer></app-footer> -->
    <!-- </div> -->
</router-outlet>
<app-footer></app-footer>