app-header {
  position: fixed;
  top: 0;
  width: 100dvw;
  z-index: 5;
}

.btnStyle {
  font-size: 32px;
  color: var(--color-error);
  cursor: pointer;
  &:hover {
    color: (var(--color-done));
  }
}
