<section>
    <div class="triangle"></div>
    <div class="outer">
        <h2>Say Hi!</h2>
        <div class="inner">
            <h3>Want to discuss a new project?</h3>
            <p>Say hello! let's discuss your ideas and make it happen</p>
            <form>
                <input type="text" placeholder="Your name">
                <input type="email" placeholder="Your email">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
                <input type="submit" value="Send message">
            </form>
        </div>
        <div class="wrapper">
            <a href="#" class="arrow">
                <img src="../../../assets/images/arrow7.png" alt="arrow_up">
            </a>
        </div>
    </div>
</section>