section {
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    overflow: hidden;
    transition: all 125ms ease-in-out;
    .nav-wrapper {
        background-color: var(--color-white);
        position: absolute;
        top: 0;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 32px;
        height: 60px;
        width: 100%;
        img {
            height: 40px;
            cursor: pointer;
        }
    }
    .top-wrapper {
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        height: 100vh;
        width: 100%;
        background-color: var(--color-white);
        animation-name: topFadeUp;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
    .bottem-wrapper {
        position: absolute;
        bottom: 0px;
        background-color: var(--color-black);
        color: var(--color-white);
        transform: translateY(100%);
        animation-name: botFadeDown;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        .triangle {
            background-color: var(--color-white);
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 100px 0 0 100vw;
            border-color: transparent transparent transparent var(--color-black);
        }
    }
}

.collapsible {
    height: 100vh !important;
}

.animateContent {
    animation-name: topFadeDown !important;
    animation-duration: 0.8s !important;
    animation-timing-function: ease-in-out !important;
    animation-iteration-count: 1 !important;
    animation-direction: normal !important;
    animation-fill-mode: forwards !important;
}

.animateFooter {
    animation-name: botFadeUp !important;
    animation-duration: 0.8s !important;
    animation-timing-function: ease-in-out !important;
    animation-iteration-count: 1 !important;
    animation-direction: normal !important;
    animation-fill-mode: forwards !important;
}

@keyframes topFadeDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes topFadeUp {
    100% {
        transform: translateY(-100%);
    }
    0% {
        transform: translateY(0);
    }
}

@keyframes botFadeUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes botFadeDown {
    100% {
        transform: translateY(100%);
    }
    0% {
        transform: translateY(0);
    }
}

@keyframes border {
    0% {
        /* top: 70%; */
        right: 270px;
        transform: translateY(0);
    }
    50% {
        /* top: 80px;
        right: 4px; */
        /* transform: translateY(10px); */
    }
    100% {
        /* top: 80%; */
        right: 4px;
        transform: translateY(25px);
    }
}

//##########################################
// BUTTONS
//##########################################
.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 80px;
    background: var(--color-white);
    overflow: hidden;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        top: 60%;
        right: 470px;
        width: 500px;
        height: 50px;
        background-color: var(--color-black);
    }
    &:hover::before {
        animation: border 0.5s linear 1;
        animation-fill-mode: forwards;
    }
    &::after {
        content: '';
        position: absolute;
        inset: 4px;
        background: var(--color-white);
    }
    span {
        position: relative;
        color: var(--color-black);
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 88px;
        line-height: 100%;
        letter-spacing: -0.025em;
        z-index: 10;
        transition: all 225ms ease-in-out;
    }
    &:hover span {
        color: var(--color-green);
    }
}

.disabledbutton {
    pointer-events: none;
}