// No media query since the xxl breakpoint has no upper bound on its width
// X-Large devices (large desktops, less than 1400px)
// @media (max-width: 1399.98px) {
//     section {}
// }
// Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) {
//     section {}
// }
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    section {
        .top-wrapper {
            .box {
                width: 400px;
                height: 56px;
                &::before {
                    top: 60%;
                    right: 380px;
                    width: 400px;
                    height: 50px;
                }
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    section {
        .top-wrapper {
            .box {
                width: 300px;
                height: 56px;
                &::before {
                    top: 60%;
                    right: 275px;
                    width: 300px;
                    height: 56px;
                }
            }
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    section {
        .top-wrapper {
            background-color: burlywood;
            gap: 8px;
            .box {
                width: 250px;
                height: 56px;
                &::before {
                    top: 60%;
                    right: 230px;
                    width: 250px;
                    height: 56px;
                }
            }
        }
        .nav-wrapper {
            background-color: cadetblue;
            .navAnker {
                display: none;
            }
            img {
                height: 24px;
            }
        }
    }
}