<section id="kopf">

    <div class="nav-wrapper">

        <img (click)="scrollToID('home')" src="../../../assets/images/icons/logo_black.png">

        <img id="menu" (click)="toggleMenuBtn()" src={{MENU_IMAGES[0]}}>
    </div>

    <div id="top" class="top-wrapper">
        <!-- Alles von oben -->
        <div class="box">
            <span (click)="scrollToID('home')">Home</span>
        </div>
        <div class="box">
            <span (click)="scrollToID('aboutMe')">About Me</span>
        </div>
        <div class="box">
            <span (click)="scrollToID('mySkills')">My skills</span>
        </div>
        <div class="box">
            <span (click)="scrollToID('portfolio')">Portfolio</span>
        </div>
        <div class="box">
            <span (click)="scrollToID('contact')">Contact</span>
        </div>
    </div>

    <div id="bot" class="bottem-wrapper">
        <!-- Alles von unten -->
        <div class="triangle"></div>
        <app-footer></app-footer>
    </div>


</section>