@keyframes topFadeDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes topFadeUp {
    100% {
        transform: translateY(-100%);
    }
    0% {
        transform: translateY(0);
    }
}

@keyframes botFadeUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes botFadeDown {
    100% {
        transform: translateY(100%);
    }
    0% {
        transform: translateY(0);
    }
}

@keyframes border {
    0% {
        /* top: 70%; */
        right: 470px;
        transform: translateY(0);
    }
    50% {
        /* top: 80px;
        right: 4px; */
        /* transform: translateY(10px); */
    }
    100% {
        right: 4px;
        transform: translateY(25px);
    }
}