// No media query since the xxl breakpoint has no upper bound on its width
// X-Large devices (large desktops, less than 1400px)
// @media (max-width: 1399.98px) {
//     section {}
// }
// Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) {
//     section {}
// }
// Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) {
//     section {}
// }
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    section {
        .nav-wrapper {
            .navAnker {
                display: none;
            }
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    section {
        .top-wrapper {
            .box {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
                height: 80px;
                background: var(--color-white);
                overflow: hidden;
                cursor: pointer;
                &::before {
                    content: '';
                    position: absolute;
                    top: 60%;
                    right: 270px;
                    width: 300px;
                    height: 50px;
                    background-color: var(--color-black);
                }
                &:hover::before {
                    animation: border 0.5s linear 1;
                    animation-fill-mode: forwards;
                }
                &::after {
                    content: '';
                    position: absolute;
                    inset: 4px;
                    background: var(--color-white);
                }
                a {
                    font-size: 48px;
                }
            }
        }
    }
}