<section id="header">

    <div id="top" class="top-wrapper">
        <!-- Alles von oben -->
        <div class="box">
            <a routerLink="/#home" (click)="navService.forceNavigate('home'); closeBtnAnimation()">Home</a>
        </div>
        <div class="box">
            <a routerLink="/#aboutMe" (click)="navService.forceNavigate('aboutMe'); closeBtnAnimation()">About me</a>
        </div>
        <div class="box">
            <a routerLink="/#mySkills" (click)="navService.forceNavigate('mySkills'); closeBtnAnimation()">My Skills</a>
        </div>
        <div class="box">
            <a routerLink="/#portfolio" (click)="navService.forceNavigate('portfolio'); closeBtnAnimation()">Portfolio</a>
        </div>
        <div class="box">
            <a routerLink="/#contact" (click)="navService.forceNavigate('contact'); closeBtnAnimation()">Contact</a>
        </div>
    </div>


    <div class="nav-wrapper">
        <div class="navAnker">
            <a routerLink="/#home" (click)="navService.forceNavigate('home')">
                <img src="../../../assets/images/icons//logo_black.png" alt="myLogo">
            </a>
            <a routerLink="/#aboutMe" (click)="navService.forceNavigate('aboutMe')">About me</a>
            <a routerLink="/#mySkills" (click)="navService.forceNavigate('mySkills')">My Skills</a>
            <a routerLink="/#portfolio" (click)="navService.forceNavigate('portfolio')">Portfolio</a>
            <a routerLink="/#contact" (click)="navService.forceNavigate('contact')">Contact</a>
        </div>
        <img id="menu" (click)="toggleMenuBtn()" src={{MENU_IMAGES[0]}}>
    </div>


    <div id="bot" class="bottem-wrapper">
        <!-- Alles von unten -->
        <div class="triangle"></div>
        <app-footer></app-footer>
    </div>


</section>