<section id="home">

    <div class="headline">
        <h1>Frontend</h1>
        <h1>Developer</h1>
        <div class="subline">
            <div class="line"></div>
            <div class="name">Georg Straßberger</div>
        </div>
    </div>

    <div class="email">
        georg.strassberger@hotmail.de
    </div>

    <div class="scroll-wrapper">
        <div class="arrow-wrapper">
            <a routerLink="/#aboutMe" (click)="navService.forceNavigate('aboutMe')" class="arrow">
                <img src="../../../assets/images/arrows/arrow2.png" alt="arrow_up">
            </a>
        </div>
        <div class="text-wrapper">
            <span>Scroll</span>
            <span>Down</span>
        </div>
    </div>
</section>