<section id="mySkills">
  <div class="wrapper">
    <h2 translate>My skills</h2>
    <div class="cell html">
      <img src="../../../assets/images/icons/html5.png" alt="HTML" />
      <span>HTML</span>
    </div>
    <div class="cell css">
      <img src="../../../assets/images/icons/css3.png" alt="CSS" />
      <span>CSS</span>
    </div>
    <div class="cell js">
      <img src="../../../assets/images/icons/js.png" alt="JavaScript" />
      <span>JavaScript</span>
    </div>
    <div class="cell git">
      <img src="../../../assets/images/icons/git.png" alt="Git" />
      <span>Git</span>
    </div>
    <div class="cell api">
      <img src="../../../assets/images/icons/rest-api.png" alt="Rest-Api" />
      <span>Rest-Api</span>
    </div>
    <div class="cell ts">
      <img src="../../../assets/images/icons/ts.png" alt="TypeScript" />
      <span>TypeScript</span>
    </div>
    <div class="cell ng">
      <img src="../../../assets/images/icons/angular.png" alt="Angular" />
      <span>Angular</span>
    </div>
    <div class="cell material">
      <img src="../../../assets/images/icons/material-design.png" alt="MaterialDesign" />
      <span>Material Design</span>
    </div>
    <div class="cell firebase">
      <img src="../../../assets/images/icons/firebase.png" alt="Firebase" />
      <span>Firebase</span>
    </div>
    <div class="cell scrum">
      <img src="../../../assets/images/icons/scrum.png" alt="Scrum" />
      <span>Scrum</span>
    </div>
  </div>
</section>