/* You can add global styles to this file, and also import other style files */

:root {
    // Fonts
    --header-height: 6rem;
    --footer-height: 10rem;
    --main-font-family: 'Syne';
    --sec-font-family: 'Overpass';
    --font-size-h1: clamp(2.4rem, 7vw, 13rem);
    --font-size-h2: clamp(3.2rem, 6vw, 7.8rem);
    --font-size-h3: clamp(2rem, 2.5vw, 3.2rem);
    --font-size-p: clamp(1.6rem, 2vw, 2.4rem);
    --font-size-tf: clamp(1.2rem, 1.5vw, 1.6rem);
    // Colors
    --color-white: #FFFCF3;
    --color-green: #00BC8F;
    --color-black: #2f2f2f;
    --color-gray: #333231;
    --color-error: #E71D40;
    --color-done: #70E71D;
    // Width
    --width-project: clamp(3.4rem, 80%, 70rem);
    --width-arrow: clamp(1.6rem, 80%, 4rem);
    --width-m: clamp(1.2rem, 60%, 1.6rem);
    --width-circle: clamp(1.6rem, 100%, 4rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // Sorgt dafür 1 REM sind 10px sind
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font-family);
    color: var(--color-black);

    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari and Opera */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.disabledbutton {
    pointer-events: none;
}

.d-none {
    display: none;
}