<section id="portfolio">
    <div class="wrapper">
        <h2>Portfolio</h2>
        <p>Feel free to try out my latest developn´ment projects and look into their code.</p>
    </div>
    <!-- component -->
    <article>
        <div class="wrapper-img">
            <div class="frame">
                <div class="circal">
                    <img src="../../../../assets/images/arrows/arrow7.png" alt="arrow">
                </div>
                <div class="content">
                    <h3>Pokédex</h3>
                    <div class="tech">
                        JavaScript | HTML | CSS | Rest-Api
                    </div>
                    <div class="discription">
                        Based on the PokéAPI a simple library that provides and catalogues pokemon information.
                    </div>
                    <div class="links">
                        <a href="https://github.com/GeorgStrassberger/Pokedex" target="_blank" title="open repositorie">Github</a>
                        <a href="http://pokedex.georg-strassberger.de/" target="_blank" title="open pokedex">Open</a>
                    </div>
                </div>
            </div>
            <img src="../../../../assets/images/projects/pokedex.png" alt="pokedex">
        </div>
        <div class="wrapper-info">
            <span>01/05</span>
        </div>
    </article>
    <!-- component -->
    <app-project></app-project>
    <!-- component -->

</section>