section {
    position: relative;
    background-color: var(--color-white);
    display: flex;
    height: 150px;
    padding-inline: 32px;
    .wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        img {
            position: absolute;
            left: 0;
            top: 0;
            height: 100px;
            width: 100px;
            animation-name: growRight;
            animation-duration: 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }
    }
}