section {
    position: relative;
    background-color: var(--color-white);
    display: flex;
    justify-content: end;
    height: 150px;
    .wrapper {
        position: absolute;
        left: 200px;
        top: 0px;
        height: 100px;
        width: 100px;
        animation-name: growRight;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
    img {
        height: 100%;
        width: 100%;
    }
}

@keyframes growRight {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
        height: 50px;
        width: 50px;
    }
    30% {
        opacity: 1;
        height: 100px;
        width: 100px;
    }
    50% {
        opacity: 1;
        height: 150px;
        width: 150px;
        left: 200px;
        top: 0px;
    }
    80% {
        opacity: 1;
        height: 100px;
        width: 100px;
    }
    100% {
        opacity: 0;
        height: 50px;
        width: 50px;
        left: 300px;
        top: 100px;
    }
}

// No media query since the xxl breakpoint has no upper bound on its width
// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    section {
        background-color: orchid;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    section {
        background-color: green;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    section {
        background-color: yellow;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    section {
        background-color: blue;
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    section {
        background-color: red;
        display: none;
    }
}