section {
    background-color: var(--color-white);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .wrapper {
        text-align: center;
        h2 {
            font-family: 'Syne';
            font-style: normal;
            font-weight: 800;
            font-size: 78px;
            line-height: 100%;
            transition: all 125ms ease-in-out;
            &:hover {
                color: var(--color-green);
            }
        }
        p {
            font-family: 'Overpass';
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 120%;
        }
    }
}